* {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

  .green {
    background-color: green;
  }
  .red {
    background-color: red;
  }
  .yellow {
    background-color: yellow;
  }
  .orange {
    background-color: orange;
  }


#a2 {
    border: 2px solid black;
    height: 400px;
  
    
    
}

#day {
    border: 2px solid black;
}

#current-title, #f-title {
      font-size: 25px;
      font-weight: 600;
  }
  #city {
      font-size: 40px;
      font-weight: 800;
      background-repeat: initial;
  }
  .card {
      font-size: 15px;

  }

  #forecast {
     
  }


