* {
    margin: 0;
    padding: 0;
    
}

  .green {
    background-color: green;
  }
  .red {
    background-color: red;
  }
  .yellow {
    background-color: yellow;
  }
  .orange {
    background-color: orange;
  }
  .purple {
    background-color: rgb(144, 17, 218);
  }


#a2 {
    border: 2px solid black;
    height: 420px;
    background-image: url("../../assets/images/a.gif");
    background-size: cover;
    animation-duration: 10s;
    
  
}

#restaurants {
  border: 2px solid black; 
  height: 250px; 
  
}
#animation {
  height: 200px;
  background-image: url("../../assets/images/b.gif");
  background-size:contain;
  
  animation-duration: 10s;
}
#day {
    border: 2px solid black;
}
#place {
  border: 2px solid black;
  margin-left: 10px;
  height: 200px;
}

#current-title, #f-title {
      font-size: 25px;
      font-weight: 600;
  }
  #city {
      font-size: 40px;
      font-weight: 800;
      background-repeat: initial;
  }
  .card {
      font-size: 15px;

  }


.city {
    font-size: 40px;
    text-transform: uppercase;
    text-shadow:0 0 3px #eafa11, 0 0 5px #07e7f7;
}
